<div>
    <button type="button" class="btn btn-outline-primary ml-2" data-toggle="modal" data-target="#walletAddModal"> Cüzdan Ekle </button>
</div>

<div class="row">
    <div class="col-md-4" *ngFor="let wallet of wallets ">
        <div id="wallet" class="card text-center mx-2 my-3 rounded">
            <div class="card-body btn" [routerLink]="[wallet.id]">
              <h3>{{wallet.name}}</h3>
            </div>
            <button type="button" class="btn btn-outline-danger" (click)="deleteWallet(wallet)"> ⛔ Sil </button>
          </div>
    </div>
  </div>


<!-- MODALS -->
  <div class="modal fade" tabindex="-1" role="dialog" id="walletAddModal">

    <div class="modal-dialog modal-dialog-scrollable" role="document">

      <div class="modal-content bg-dark">

        <div class="modal-header">
          Cüzdan Ekleyin
        </div>

        <div class="modal-body container my-4">
          <form [formGroup]="addWalletForm">
            <br />
            <h1 class="h3 mb-3 font-weight-normal">Cüzdan İsmi</h1>
            <div class="form-floating">
              <input
                formControlName="name"
                type="text"
                class="form-control bg-dark"
                id="walletName"
                placeholder="Cüzdanınıza İsim Veriniz"
              />
            </div>
          </form>
        <br><br><br>
        </div>
  
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-success" (click)="addWallet()">Ekle</button>
        </div>

      </div>

    </div>

  </div>