<div>
  <div style="color:black;"><h3><b>Cüzdan Özeti</b></h3></div>
  <table class="table">
    <thead>
        <tr>
          <th scope="col">Alım Tarihi</th>
          <th scope="col">Sembol</th>
          <th scope="col">Maliyet</th>
          <th scope="col">Toplam Maliyet</th>
          <th scope="col">Miktar</th>
          <th scope="col">Anlık Değer</th>
          <th scope="col">Toplam Kar/Zarar</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12.03.2021</td>
          <td>BTC/USDT</td>
          <td>0.234</td>
          <td>123</td>
          <td>25</td>
          <td>0.25</td>
          <td style="color: red;">%2</td>
        <td><button class="btn btn-primary">Arşivle</button></td>
        </tr>
      </tbody>
  </table>
</div>
