<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-md-2 w-100">
      <button
        type="button"
        class="btn btn-outline-primary"
        data-toggle="modal"
        data-target="#operationAddModel"
        (click)="getCoinPairs()"
      >
        Coin Ekle
      </button>
    </div>
    <div class="col-md-10">
      <input
        type="text"
        [(ngModel)]="filterText"
        class="form-control bg-dark rounded"
        id="searchRecentOperation"
        placeholder="Aramak istediğiniz coin"
      />
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th class="text-center">Sembol</th>
        <th class="text-center">Adet</th>
        <th class="text-center">Alış</th>
        <th class="text-center">Anlık</th>
        <th class="text-center">Kâr/Zarar</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let operation of recentOperations | recentOperationFilter: filterText
        "
      >
        <td class="text-center">
          <div
            *ngIf="
              pnlCalculatePercent(
                operation.buycost,
                binanceService.prices.get(operation.coinsymbol.toLowerCase())
              ) > 0
            "
            class="badge btn bg-success"
            data-toggle="modal"
            data-target="#pnlModal"
            (click)="setSelectedModal(operation)"
          >
            <h6>{{ operation.coinsymbol }}</h6>
          </div>
          <div
            *ngIf="
              pnlCalculatePercent(
                operation.buycost,
                binanceService.prices.get(operation.coinsymbol.toLowerCase())
              ) < 0
            "
            class="badge btn bg-danger"
            data-toggle="modal"
            data-target="#pnlModal"
            (click)="setSelectedModal(operation)"
          >
            <h6>{{ operation.coinsymbol }}</h6>
          </div>
          <div
            *ngIf="
              !pnlCalculatePercent(
                operation.buycost,
                binanceService.prices.get(operation.coinsymbol.toLowerCase())
              )
            "
            class="badge bg-dark"
            data-toggle="modal"
            data-target="#pnlModal"
            (click)="setSelectedModal(operation)"
          >
            <h6>{{ operation.coinsymbol }}</h6>
          </div>
        </td>
        <td class="text-center">{{ operation.coinamount }}</td>
        <td class="text-center">
          <div class="d-flex justify-content-between px-4">
            <strong>Birim Maliyet:</strong>
            <span style="float: right">{{ operation.buycost }}</span>
          </div>
          <div class="d-flex justify-content-between px-4">
            <strong>Toplam Maliyet:</strong>
            <span style="float: right">{{
              totalCostCalculate(operation.buycost, operation.coinamount)
            }}</span>
          </div>
        </td>
        <td class="text-center w-25">
          <div class="d-flex justify-content-between px-4">
            <strong>Birim Değer:</strong>
            <span>{{
              binanceService.prices.get(operation.coinsymbol.toLowerCase())
            }}</span>
          </div>
          <div class="d-flex justify-content-between px-4">
            <strong>Toplam Değer:</strong>
            <span>{{
              totalValueCalculate(
                binanceService.prices.get(operation.coinsymbol.toLowerCase()),
                operation.coinamount
              )
            }}</span>
          </div>
        </td>
        <td class="text-center w-25">
          <span
            >%{{
              pnlCalculatePercent(
                operation.buycost,
                binanceService.prices.get(operation.coinsymbol.toLowerCase())
              )
            }}</span
          >

          <br />
          <span
            >${{
              pnlCalculate(
                operation.coinamount,
                operation.buycost,
                binanceService.prices.get(operation.coinsymbol.toLowerCase())
              )
            }}</span
          >
        </td>
        <td class="text-center">
          <div class="dropdown">
            <button
              class="btn btn-outline-primary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              İşlemler
            </button>
            <div
              class="dropdown-menu bg-dark"
              aria-labelledby="dropdownMenuButton"
            >
              <button
                type="button"
                class="btn bg-dark dropdown-item"
                data-toggle="modal"
                data-target="#sellCoin"
                (click)="setSelectedModal(operation)"
              >
                Sat
              </button>

              <button
                class="dropdown-item btn bg-dark"
                (click)="deleteRecentOperation(operation)"
              >
                Sil
              </button>
 
              <button class="dropdown-item btn bg-dark" data-toggle="modal" data-target="#updateOperation" (click)="setSelectedModal(operation)">Güncelle</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- MODALS -->

<!-- Buy Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="operationAddModel">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h4 class="modal-title">Add Item</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container my-4">
        <h2 class="h3 mb-3 font-weight-normal">Hangi Coini Aldığını Seçiniz</h2>
        <ng-multiselect-dropdown
          [placeholder]="'Coin Seçin'"
          [settings]="dropdownSettings"
          [data]="coinPairsList"
          [(ngModel)]="coinsymbol"
          (onSelect)="setCoinSymbol($event)"
          class="text-black"
        >
        </ng-multiselect-dropdown>
        <br />
        <h1 class="h3 mb-3 font-weight-normal">Adet</h1>
        <form [formGroup]="addCoinForm">
          <div class="form-floating">
            <input
              formControlName="coinamount"
              type="number"
              class="form-control bg-dark"
              id="floatingInput"
              placeholder="Kaç adet aldığınızı giriniz."
            />
          </div>
          <br />
          <h1 class="h3 mb-3 font-weight-normal">Alış Fiyatı</h1>
          <div class="form-floating">
            <input
              formControlName="buycost"
              type="number"
              class="form-control bg-dark"
              id="floatingPassword"
              placeholder="Hangi fiyattan aldığınızı seçiniz."
            />
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Kapat
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="addRecentOperation()"
        >
          Değişiklikleri Kaydet
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Profit & Loss Modal -->
<div class="modal fade rounded" tabindex="-1" role="dialog" id="pnlModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-body container my-4">
        <div class="d-flex flex-column mb-1">
          <button class="btn btn-success p-2" type="button">🔰İndir</button>
        </div>
        <div class="card text-white bg-primary mb-3">
          <div class="card-header">
            {{ selectedModal.coinsymbol }} Kâr/Zarar Durumunuz
          </div>
          <div class="card-body">
            <p>Coin: {{ selectedModal.coinsymbol }}</p>
            <p>Alış fiyatı: {{ selectedModal.buycost }}</p>
            <p>
              Anlık fiyat:
              {{
                binanceService.prices.get(
                  selectedModal.coinsymbol.toLowerCase()
                )
              }}
            </p>
            <p>
              Kâr/Zarar: %{{
                pnlCalculatePercent(
                  selectedModal.buycost,
                  binanceService.prices.get(
                    selectedModal.coinsymbol.toLowerCase()
                  )
                )
              }}
            </p>
          </div>
        </div>
        <style>
          img {
            width: 100%;
            height: 100%;
          }
        </style>

        <div
          *ngIf="
            pnlCalculatePercent(
              selectedModal.buycost,
              binanceService.prices.get(selectedModal.coinsymbol.toLowerCase())
            ) >= 0
          "
        >
          <img src="./assets/profit.png" />
        </div>
        <div
          *ngIf="
            pnlCalculatePercent(
              selectedModal.buycost,
              binanceService.prices.get(selectedModal.coinsymbol.toLowerCase())
            ) < 0
          "
        >
          <img src="./assets/loss.png" />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sell Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="sellCoin">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h4 class="modal-title">Satış Yap</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container my-4">
        <div class="jumbotron bg-success">
          <p>Satacağınız Coin: {{ selectedModal.coinsymbol }}</p>
          <p>Elinizdeki Miktar: {{ selectedModal.coinamount }}</p>
          <p>Alış Fiyatı: {{ selectedModal.buycost }}</p>
          <p>Anlık Fiyat: 8.13</p>
        </div>

        <form [formGroup]="addArchivedOperationForm">
          <div class="form-group">
            <input
              formControlName="coinamount"
              type="number"
              class="form-control bg-dark"
              id="floatingInput2"
              placeholder="Satış Adedi:"
            />
          </div>
          <br />
          <div class="form-group">
            <input
              formControlName="sellcost"
              type="number"
              class="form-control bg-dark"
              id="floatingInput3"
              placeholder="Satış Fiyatı:"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Kapat
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="addArchivedOperation()"
        >
          Satıldı olarak işaretle
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Update Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="updateOperation">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h4 class="modal-title">Güncelle</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container my-4">
        <div class="jumbotron bg-success">
          <p>Coin: {{ selectedModal.coinsymbol }}</p>
          <p>Elinizdeki Miktar: {{ selectedModal.coinamount }}</p>
          <p>Alış Fiyatı: {{ selectedModal.buycost }}</p>
          <p>Anlık Fiyat: 8.13</p>
        </div>

        <form [formGroup]="addArchivedOperationForm">
          <div class="form-group">
            <input
              formControlName="coinamount"
              type="number"
              class="form-control bg-dark"
              id="floatingInput2"
              placeholder="Elinizdeki Miktar:"
            />
          </div>
          <br />
          <div class="form-group">
            <input
              formControlName="buycost"
              type="number"
              class="form-control bg-dark"
              id="floatingInput3"
              placeholder="Alış Fiyatı:"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Kapat
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="updateRecentOperation()"
        >
          Satıldı olarak işaretle
        </button>
      </div>
    </div>
  </div>
</div>
