<div class="card text-center text-white bg-dark" style="width: 25rem;">
    <div class="card-header">
        <h5>Bitcoin Açgözlülük Endeksi</h5>
    </div>
    <div class="card-body"> 
        <span>
            <img src="https://alternative.me/crypto/fear-and-greed-index.png"  class="rounded img-fluid">
        </span>
    </div>    
</div>
<div class="card text-center text-white bg-dark" style="width: 25rem;">
    <div class="card-header">
        <h5>Bitcoin Açgözlülük Endeksi</h5>
    </div>
    <div class="card-body"> 
        <span>
            <img src="https://alternative.me/crypto/fear-and-greed-index.png"  class="rounded img-fluid">
        </span>
    </div>    
</div>


