<body class="text-center">
  <main class="form-signin">
    <form [formGroup]="loginForm">
      <h1 class="h3 mb-3 fw-normal">Giriş Yap</h1>

      <div class="form-floating">
        <input
          formControlName="email"
          type="email"
          class="form-control bg-dark"
          id="floatingInput"
          placeholder="Email"
        />
      </div>
      <div class="form-floating">
        <input
          formControlName="password"
          type="password"
          class="form-control bg-dark"
          id="floatingPassword"
          placeholder="Parola"
        />
      </div>

      <button class="w-100 btn btn-lg btn-primary" (click)="login()">
        Giriş Yap
      </button>
    </form>
  </main>
</body>
