<div class="container-fluid">
  <div class="mb-4">
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control bg-dark rounded"
      id="searchRecentOperation"
      placeholder="Aramak istediğiniz coin"
    />
  </div>

  <table class="table">
    <thead>
      <tr>
        <th class="text-center">Sembol</th>
        <th class="text-center">Adet</th>
        <th class="text-center">Alış</th>
        <th class="text-center">Satış</th>
        <th class="text-center">Kâr/Zarar</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let archivedOperation of archivedOperations
            | archivedOperationFilter: filterText
        "
      >
        <td class="text-center">
          <div
          *ngIf="pnlCalculatePercent(archivedOperation.buycost,archivedOperation.sellcost) >= 0"
          class="badge bg-success btn"
          data-toggle="modal"
          data-target="#pnlModalArchivedOps"
          (click)="setSelectedModal(archivedOperation)">
            <h6>{{ archivedOperation.coinsymbol }}</h6>
          </div>
          <div
          *ngIf="pnlCalculatePercent(archivedOperation.buycost,archivedOperation.sellcost) < 0"
          class="badge bg-danger btn"
          data-toggle="modal"
          data-target="#pnlModalArchivedOps"
          (click)="setSelectedModal(archivedOperation)">
            <h6>{{ archivedOperation.coinsymbol }}</h6>
          </div>

        </td>
        <td class="text-center">{{ archivedOperation.coinamount }}</td>
        <td class="text-center">
          <strong>Birim Maliyet:</strong>
          <span style="float: right">{{ archivedOperation.buycost }}</span>
          <br />
          <strong>Toplam Maliyet:</strong>
          <span style="float: right">{{
            totalCostCalculate(
              archivedOperation.buycost,
              archivedOperation.coinamount
            )
          }}</span>
        </td>
        <td class="text-center">
          <strong>Birim Değer:</strong>
          <span style="float: right">{{ archivedOperation.sellcost }}</span>
          <br />
          <strong>Toplam Değer:</strong>
          <span style="float: right">{{
            totalValueCalculate(
              archivedOperation.sellcost,
              archivedOperation.coinamount
            )
          }}</span>
        </td>
        <td class="text-center">
          <span
            >%
            {{
              pnlCalculatePercent(
                archivedOperation.buycost,
                archivedOperation.sellcost
              )
            }}</span
          >
          <br />
          <span
            >$
            {{
              pnlCalculate(
                archivedOperation.coinamount,
                archivedOperation.buycost,
                archivedOperation.sellcost
              )
            }}</span
          >
        </td>
        <td class="text-center">
          <div class="dropdown">
            <button
              class="btn btn-outline-primary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              İşlemler
            </button>
            <div
              class="dropdown-menu bg-dark"
              aria-labelledby="dropdownMenuButton"
            >
              <a
                class="dropdown-item"
                routerLink="/archivedops"
                (click)="deleteArchivedOperation(archivedOperation)"
                >Sil</a
              >
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Profit & Loss Modal -->
<div class="modal fade rounded" tabindex="-1" role="dialog" id="pnlModalArchivedOps">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-body container my-4">
        <div class="d-flex flex-column mb-1">
          <button class="btn btn-success p-2" type="button">🔰İndir</button>
        </div>
        <div class="card text-white bg-primary mb-3">
          <div class="card-header">
            {{ selectedModal.coinsymbol }} Kâr/Zarar Durumunuz
          </div>
          <div class="card-body">
            <p>Coin: {{ selectedModal.coinsymbol }}</p>
            <p>Alış fiyatı: {{ selectedModal.buycost }}</p>
            <p>Satış fiyatı: {{ selectedModal.sellcost }}</p>
            <p>
              Kâr/Zarar: %{{ pnlCalculatePercent(selectedModal.buycost,selectedModal.sellcost) }}
            </p>
          </div>
        </div>
        <style>
          img {
            width: 100%;
            height: 100%;
          }
        </style>

        <div
          *ngIf="
            pnlCalculatePercent(
              selectedModal.buycost,
              selectedModal.sellcost
            ) >= 0
          "
        >
          <img src="./assets/profit.webp" />
        </div>
        <div
          *ngIf="
          pnlCalculatePercent(
            selectedModal.buycost,
            selectedModal.sellcost
          ) < 0
          "
        >
          <img src="./assets/loss.webp" />
        </div>
      </div>
    </div>
  </div>
</div>

