<div class="list-group" style="border-radius: 6px;">
  <a routerLink="" (click)="setCurrentTab('dashboard')" [class]="getCurrentCategoryClass('dashboard')">Coinler</a>
  <a routerLink="summary" (click)="setCurrentTab('summary')" [class]="getCurrentCategoryClass('summary')">Hesap Özeti</a>
  <a routerLink="wallets" (click)="setCurrentTab('wallets')" [class]="getCurrentCategoryClass('wallets')">Cüzdanlar</a>
  <a routerLink="archivedops" (click)="setCurrentTab('archivedops')" [class]="getCurrentCategoryClass('archivedops')">Arşivlenmiş Aktiviteler</a>
  <a routerLink="analyzes" (click)="setCurrentTab('analyzes')" [class]="getCurrentCategoryClass('analyzes')">Analizler</a>
</div>

