/* You can add global styles to this file, and also import other style files */
html * {
  color: white!important ;
  font-family: 'Open Sans', sans-serif;
}
body {
  background: #201e2a!important;
  background-attachment: fixed;
  background-size: auto 100%;
  background-position: center;
}

.filter-textbox input {
  color: black!important;
}