<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Sembol</th>
                <th class="text-center">Adet</th>
                <th class="text-center">Alış</th>
                <th class="text-center">Anlık</th>
                <th class="text-center">Kâr/Zarar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let operation of walletRecentOperations">
                <td> <h6> {{operation.coinsymbol}} </h6> </td>
                <td> {{operation.coinamount}} </td>
                <td> Maliyet: {{operation.buycost}} </td>
                <td> Fiyat: {{binanceService.prices.get(operation.coinsymbol.toLowerCase())}} </td>
                <td> Kar:  %{{
                    pnlCalculatePercent(
                      operation.buycost,
                      binanceService.prices.get(operation.coinsymbol.toLowerCase())
                    )
                  }}</td>
            </tr>

        </tbody>
    </table>
</div>