<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Sembol</th>
                <th class="text-center">Adet</th>
                <th class="text-center">Alış</th>
                <th class="text-center">Anlık</th>
                <th class="text-center">Kâr/Zarar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Bir</th>
                <th>Operasyon</th>
                <th>Var</th>
                <th>Bu</th>
                <th>Gece</th>
            </tr>
        </tbody>
    </table>
</div>